:root {
  --white: #fff;
  --whiteSmoke: #f7f7f7;
  --whisper: #ededed;
  --gainsboro: #dedede;
  --veryLightGrey: #ccc;
  --pinkSwan: #b2b2b2;
  --nobel: #9c9c9c;
  --dimGray: #717171;
  --zambezi: #595959;
  --eclipse: #404040;
  --nightRider: #2e2e2e;
  --black-11: #111;
  --black: #000;
  --selectiveYellow: #ffbb00;
  --gamboge: #e4a30b;
  --goldenBrown: #a66f00;
  --rawUmber: #664400;
  --blackMagic: #332200;
}
